.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  flex-direction: column;
}

.center {
  background-color: #d7e9ff;
  width: 300px;
  height: 150px;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.chosen-cards0 {
  background-color: grey;
  width: 60px;
  height: 100px;
  border-radius: 15%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.possible-cards ul {
  list-style: none;

  display: flex;
  position: absolute;
  top: 80%;
  left: 25%;
}
.possible-cards ul li {
  margin-left: 10px;
}
.card {
  height: 100px;
  border-radius: 15%;
  width: 60px;
  background-color: white;
}

.active {
  background-color: black;
  color: white;
}
.reveal-cards {
  padding: 20px;
  border-radius: 15%;
  width: 200px;

  color: white;
  background-color: #74b3ff;
  display: none;
}
.play-again {
  padding: 20px;
  border-radius: 15%;
  width: 200px;

  color: white;
  background-color: #74b3ff;
  display: none;
}
.average {
  position: absolute;
  top: 800px;

  font-size: 40px;
  display: none;
}
.inactive {
  background-color: gray;
  color: white;
  display: none;
}
.white-text {
  color: white;
}
.black-text {
  color: black !important;
}
.display-grey {
  display: inline-block;
  background-color: gray;
  color: white;
}

.display {
  display: inline-block;
}
.inactive-important {
  display: none !important;
}
.voted {
  color: red;
}
.non-voted {
  color: blue;
}
li {
  list-style-type: none;
}
.chosen-cards1 {
  background-color: black;
  width: 60px;
  height: 100px;
  border-radius: 15%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 13%;
}
.chosen-name1 {
  width: 100px;
  height: 100px;
  border-radius: 15%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 47%;
}
.chosen-name2 {
  width: 100px;
  height: 100px;
  border-radius: 15%;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 34%;
}
.chosen-name3 {
  width: 100px;
  height: 100px;
  border-radius: 15%;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 60.3%;
}
.chosen-cards2 {
  background-color: black;
  width: 60px;
  height: 100px;
  border-radius: 15%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 35%;
}
.chosen-cards2 {
  background-color: black;
  width: 60px;
  height: 100px;
}
.chosen-cards3 {
  background-color: black;
  width: 60px;
  height: 100px;
  border-radius: 15%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 61.3%;
}
.scrollable-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.usernames {
  margin-top: 50px;
}
.chosen-cards-visible {
  color: white;
}

#custom-prompt-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
#custom-prompt {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#custom-prompt-input {
  flex: 1;
  font-size: 1.2em;
  padding: 1px 5px;
}
#custom-prompt label {
  font-weight: bold;
  font-size: 1.2em;
}
#custom-prompt .tbar {
  margin-top: 10px;
}
#custom-prompt button {
  margin: 0;
}
@media screen and (max-width: 1500px) {
  .chosen-cards3 {
    top: 30%;
    left: 67.3%;
  }
  .chosen-name3 {
    left: 65.3%;
  }
  .chosen-cards2 {
    top: 30%;
    left: 30%;
  }
  .chosen-name2 {
    top: 30%;
    left: 28%;
  }
  .chosen-cards1 {
    top: 13%;
  }
  .chosen-name1 {
    top: 15%;
    left: 46%;
  }
  .possible-cards ul {
    list-style: none;

    display: flex;
    position: absolute;
    top: 80%;
    left: 10%;
    flex-wrap: wrap;
  }
  .card {
    height: 100px;
    border-radius: 15%;
    width: 60px;
    background-color: white;
    margin-top: 5px;
  }
}
@media screen and (max-width: 1200px) {
  .chosen-cards3 {
    top: 30%;
    left: 72.3%;
  }
  .chosen-name3 {
    left: 70.3%;
  }
  .chosen-cards2 {
    top: 30%;
    left: 22%;
  }
  .chosen-name2 {
    top: 30%;
    left: 20%;
  }
  .chosen-cards1 {
    top: 13%;
  }
  .chosen-name1 {
    top: 15%;
    left: 44%;
  }
}
@media screen and (max-width: 800px) {
  .chosen-cards3 {
    top: 30%;
    left: 75.3%;
  }
  .chosen-name3 {
    left: 73.3%;
  }
  .chosen-cards2 {
    top: 30%;
    left: 15%;
  }
  .chosen-name2 {
    top: 30%;
    left: 12%;
  }
  .chosen-cards1 {
    top: 13%;
  }
  .chosen-name1 {
    top: 15%;
    left: 43%;
  }
}
@media screen and (max-width: 600px) {
  .chosen-cards3 {
    top: 30%;
    left: 82.3%;
  }
  .chosen-name3 {
    left: 79.3%;
  }
  .chosen-cards2 {
    top: 30%;
    left: 6%;
  }
  .chosen-name2 {
    top: 30%;
    left: 1%;
  }
  .chosen-cards1 {
    top: 13%;
  }
  .chosen-name1 {
    top: 15%;
    left: 40%;
  }
}
