.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  flex-direction: column;
}

.center {
  background-color: #d7e9ff;
  width: 300px;
  height: 150px;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.chosen-cards0 {
  background-color: grey;
  width: 60px;
  height: 100px;
  border-radius: 15%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.possible-cards ul {
  list-style: none;

  display: flex;
  position: absolute;
  top: 800px;
  left: 375px;
}
.possible-cards ul li {
  margin-left: 10px;
}
.card {
  height: 100px;
  border-radius: 15%;
  width: 60px;
  background-color: white;
}

.active {
  background-color: black;
  color: white;
}
.reveal-cards {
  padding: 20px;
  border-radius: 15%;
  width: 200px;

  color: white;
  background-color: #74b3ff;
  display: none;
}
.play-again {
  padding: 20px;
  border-radius: 15%;
  width: 200px;

  color: white;
  background-color: #74b3ff;
  display: none;
}
.average {
  position: absolute;
  top: 800px;

  font-size: 40px;
  display: none;
}
.inactive {
  background-color: gray;
  color: white;
  display: none;
}
.white-text {
  color: white;
}
.black-text {
  color: black !important;
}
.display-grey {
  display: inline-block;
  background-color: gray;
  color: white;
}

.display {
  display: inline-block;
}
.inactive-important {
  display: none !important;
}
.voted {
  color: red;
}
.non-voted {
  color: blue;
}
li {
  list-style-type: none;
}
.chosen-cards1 {
  background-color: black;
  width: 60px;
  height: 100px;
  border-radius: 15%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 120px;
}
.chosen-name1 {
  width: 60px;
  height: 100px;
  border-radius: 15%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 140px;
}
.chosen-name2 {
  width: 60px;
  height: 100px;
  border-radius: 15%;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 280px;
  left: 600px;
}
.chosen-name3 {
  width: 60px;
  height: 100px;
  border-radius: 15%;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 280px;
  left: 1050px;
}
.chosen-cards2 {
  background-color: black;
  width: 60px;
  height: 100px;
  border-radius: 15%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 280px;
  left: 600px;
}
.chosen-cards2 {
  background-color: black;
  width: 60px;
  height: 100px;
}
.chosen-cards3 {
  background-color: black;
  width: 60px;
  height: 100px;
  border-radius: 15%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 280px;
  left: 1050px;
}
.usernames {
  margin-top: 50px;
}
.chosen-cards-visible {
  color: white;
}
